body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}


/*----------- Container ---------------*/

#container {
    background-color: white;
    margin: 0 auto;
    padding: 0;
    max-width: 960px;
    min-width: 480px;
}


/*----------- Header ------------------*/

.header {
    background-color: aqua;
}

.header .logo h1 {
    margin: 0;
    padding-top: 20px;
    padding: 2%;
}

.header .navbar-wrap {
    background-color: #3385ff;
    overflow: hidden;
    padding: 0;
}

.header .navbar-wrap ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.header .navbar-wrap ul li {
    float: left;
}

.header .navbar-wrap ul li a {
    display: block;
    background-color: #3385ff;
    padding: 15px 20px;
    text-decoration: none;
    color: white;
    overflow: hidden;
}

.header .navbar-wrap ul li a:hover {
    color: #3385ff;
    background-color: white;
}

.header .navbar-wrap ul .nav-login {
    float: right;
}
/*----------- Content wrapper ---------*/

.wrapper {
    border-left: solid 1px #3385ff;
    border-right: solid 1px #3385ff;
    overflow: hidden;
    margin: 0 auto;
}

/*----------- Main content ------------*/

.main-content {
    background-color: aquamarine;
    width: 68%;
    margin: 1% 1% 1% 0;
    padding: 2%;
}

.side-right {
    width: 25%;
    margin: 1%;
    outline: solid 1px #3385ff;
}

.side-right .panel-head h3 {
    margin: 0;
    padding: 20px 0 10px 2%;
    background-color: #3385ff;
    
}

.main-content,
.side-right {
    float: left;
    overflow: auto;
}


/*---------- Footer -------------------*/

.footer {
    padding: 2%;
    background-color: #3385ff;
    clear: both;
}